<nb-auth-block class="block-login">
  <div class="logo-auth"></div>  
  <h2 class="title">Change password</h2>
  <small class="form-text sub-title">Please enter a new password</small>

  <form [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">   

      <!-- EMAIL -->
      <div class="form-group">
          <label for="input-email" class="sr-only">Email address</label>
          <input formControlName="email" name="email" id="input-email" type="text" class="form-control" placeholder="Email address">
          <!-- Email error block -->
          <div *ngIf="email.invalid && email.touched" class="col-sm-3 text-danger">
              <div *ngIf="email.errors?.required">
                  Email field can't be blank
              </div>
              <div *ngIf="email.errors?.pattern">
                  The email id doesn't seem right
              </div>
          </div>
      </div>      

      <!--- Password Block -->
     
          <div class="form-group">
              <label for="inputPassword" class="sr-only">New Password</label>
              <input type="password" formControlName="password" name="password" id="inputPassword" class="form-control" placeholder="New Password">
          </div>

          <div class="form-group">
              <label for="confirmPassword" class="sr-only">Confirm Password</label>
              <input type="password" name="confirmPwd" id="confirmPassword" class="form-control" placeholder="Confirm Password">
              <!-- Password error block -->
              <!--<div *ngIf="(password.invalid && password.touched)" class="text-danger">
                  Password needs to be more than 8 characters
              </div>-->
          </div>
          
    
      <button type="submit" [disabled]="!signupForm.valid" class="btn btn-block btn-hero-success btn-login">
        Change password
      </button>
  </form>

  <div class="links col-sm-12">
    <small class="form-text"> Already have an account?
        <a routerLink="../login">
            <strong>Sign In</strong>
        </a>
    </small>
    <small class="form-text">
        <a routerLink="../register">
            <strong>Sign Up</strong>
        </a>
    </small>
</div>
  
</nb-auth-block>