<nb-card>
    <nb-card-header>
      
      <div class="ui grid">
          <div class="thirteen wide column">
              Users
          </div>
          <div class="three wide column">
              <a class="item" (click)="addTemplateModal.showModal()">
                  <button mat-raised-button color="primary">Add Users</button>
              </a>
          </div>
      </div> 
    </nb-card-header>
    <nb-card-body> 

  
      <ng2-smart-table 
                [settings]="settings" 
                [source]="source" 
                (deleteConfirm)="onDeleteConfirm($event)" 
                (createConfirm)="onCreateConfirm($event)"
                (editConfirm)="onSaveConfirm($event)"
                (edit)="addTemplateModal.showModal($event.data)"
                (delete)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  
  <!-- the modal will emit an event and call the grid component to add the requested cell to the board -->
  <app-add-users #addTemplateModal (onHidden)="onModalHidden($event)">
  </app-add-users>
   