<div class="terms-container">
  <div class="container">

    <div class="row">
      <h2 class="title">
        <strong>FIWOO</strong> Terms and Conditions</h2>
      <h3>Logging in to
        <strong>FIWOO</strong> implies sharing some personal data. As a user, I acknowledge that:</h3>

      <ol>
        <li>
          <p>I give my explicit consent to
            <strong>FIWOO</strong> for storing and processing the data I share with the platform for the purpose of using its services.</p>
        </li>
        <li>
          <p>I am the owner of all personal data I share in
            <strong>FIWOO</strong> and so I have the right to:</p>
          <ul>
            <li>
              <p>Consult which personal data is stored about me.</p>
            </li>
            <li>
              <p>Change or revoke these permissions at any time, just by changing my user preferences.</p>
            </li>
          </ul>
        </li>
        <li>
          <p>I am aware that
            <strong>FIWOO</strong> gathers only the minimal data needed to provide me with the services I registered for. In particular,
            I always share:</p>
          <ul>
            <li>
              <p>My email address, for login and communication purposes.</p>
            </li>
          </ul>
          <p>I am aware that any time personal data are requested from me, I will be informed of the service using that data
            and its purpose.</p>
          <p>I am aware that
            <strong>FIWOO</strong> performs automated decision-making for providing me with the best platform performance and that
            I can oppose to it at any time, prior information about the consequences of such decision.</p>
        </li>
        <li>
          <p>I am aware that
            <strong>FIWOO</strong> will use some of my personal data in a pseudonymized way to help improving the performance of
            the platform, that I will be informed about it, and that I can oppose to it at any time.</p>
        </li>
        <li>
          <p>I am aware that pseudonymized personal data can be transferred to cities and other service providers, prior informed
            consent from my side, especially when they travel outside the EU.</p>
        </li>
        <li>
          <p>I can execute my right to access and revoke consent on the data I share to
            <strong>FIWOO</strong>, as well as address any other concern regarding this matter to:</p>
          <ul>
            <li>
              <p>
                <strong>FIWOO</strong> – Bosonit S.L.</p>
            </li>
            <li>
              <p>Sara Madariaga (ínterim DPO)</p>
            </li>
            <li>
              <p>
                <a href="mailto:info@fiwoo.eu ">info@fiwoo.eu </a>
              </p>
            </li>
          </ul>
        </li>
      </ol>
      <p>Additionally, I can consult a Data Protection Authority
        <a href="http://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080"
          target="_blank">here.</a>
      </p>


    </div>
    <button type="submit" class="btn btn-block btn-hero-success btn-login" routerLink="../register">
      Go to register
  </button>
  </div>

</div>