.terms-container {
    color: #fff;
    font-size: 15px;
    background: #477EFF;
    border-radius: 5px;
    padding: 30px;
}


.terms-container h2, .terms-container h3 {
    color: #fff;
}