<div class="ui small modal models" #addModelModal>
  <div class="header"> {{modalTitle}}</div>
  <div class="scrolling content">

    <mat-card class="result">
      <mat-card-content>

        <mat-form-field style="width: 100%">
          <input matInput type="text" placeholder="Name of the model" [(ngModel)]="name" [formControl]="nameFormControl" />
          <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div class="doubling stackable two column ui grid container" style="margin-top: 20px">

          <div class="column">
            <mat-form-field>
              <mat-select placeholder="Model Type" [(value)]="modelTypeSelected" [formControl]="modelTypeFormControl">
                <mat-option *ngFor="let modelType of modelTypes" [value]="modelType">
                  {{ modelType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="column">
            <mat-form-field>
              <mat-select placeholder="Programing Language" [(value)]="modelLanguageSelected" [formControl]="modelLanguageFormControl">
                <mat-option *ngFor="let modelLanguage of modelLanguages" [value]="modelLanguage">
                  {{ modelLanguage }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
    <br>


    <mat-card class="result">
      <mat-card-content>
        <p>Upload the script</p>
        <image-upload dropBoxMessage="Drag files here" clearButtonCaption="Restore" [extensions]="['jpeg','png']" [class]="'customClass'">
        </image-upload>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card class="result">
      <mat-card-content>
        <p>Output Format</p>
        <div class="ui grid">
          <!-- col1-->
          <div class="six wide column">
            <div class="field">
              <mat-form-field style="width: 100%">
                <input matInput type="text" placeholder="Format" [(ngModel)]="format" [formControl]="formatFormControl" />
                <button mat-button *ngIf="format" matSuffix mat-icon-button aria-label="Clear" (click)="format=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <!-- col3-->
          <div class="six wide column">
            <div class="field">
              <mat-form-field style="width: 100%">
                <input matInput type="text" placeholder="Data Type" [(ngModel)]="type" [formControl]="typeFormControl" />
                <button mat-button *ngIf="type" matSuffix mat-icon-button aria-label="Clear" (click)="type=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <!-- col4-->
          <div class="four wide column">
            <a mat-mini-fab routerLink="." color='primary' (click)="onOutputCreated($event)">
              <mat-icon>add</mat-icon>
            </a>
          </div>
         

          <mat-list role="list">
            <div *ngFor="let createdOutput of createdOutputs">
              <div class="ui grid">
                <!-- col1-->
                <div class="six wide column">
                  <div class="field">
                    <mat-form-field style="width: 100%">
                      <input matInput type="text" placeholder="Format" value="{{createdOutput.format}}" disabled/>
                    </mat-form-field>
                  </div>
                </div>

                <!-- col3-->
                <div class="six wide column">
                  <div class="field">
                    <mat-form-field style="width: 100%">
                      <input matInput type="text" placeholder="Type" value="{{createdOutput.type}}" disabled/>
                    </mat-form-field>
                  </div>
                </div>

                <!-- col4-->
                <div class="four wide column">
                  <button mat-icon-button (click)="removeCreatedOutput(createdOutput)">
                    <mat-icon aria-label="Remove">close</mat-icon>
                  </button>
                </div>
              </div>

            </div>
          </mat-list>
        </div>

      </mat-card-content>
    </mat-card>

    <br>
    <mat-card class="result">
      <mat-card-content>
        <p>Parameters to use the model</p>
        <mat-form-field class="demo-chip-list" style="width:100%">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let parameter of parameters" [selectable]="selectable" [removable]="removable" (remove)="remove(parameter)">
              {{ parameter.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)" />
          </mat-chip-list>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="actions">
    <div class="ui two column centered grid">
      <div class="four column centered row">
        <div class="column centered-btn">
          <button mat-raised-button color="warn" (click)="hideModal()">Cancel</button>
        </div>
        <div class="column centered-btn">
          <button mat-raised-button color="primary" (click)="sendModel()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>