<div class="ui center aligned segment gadget" dnd-draggable [dragEnabled]="!inConfig" [dragData]="instanceId" [dropZones]="['c0','c1','c2','c3','r0','r1']">

                <app-gadget-header (mouseover)="showGadgetControls(true)" (mouseleave)="showGadgetControls(true)" [title]="title" [inRun]="inRun"
                        [inConfig]="inConfig" [actionInitiated]="actionInitiated" [showOperationControls]="false" [gadgetHasOperationControls]="gadgetHasOperationControls"
                        [showConfigurationControl]="showConfigurationControl"  [showRefreshControls]="showRefreshControls" [showControls]="showControls" (toggleConfigModeEvent)="toggleConfigMode()"
                        (removeEvent)="remove()" (refreshEvent)="refresh()">
                </app-gadget-header>
        
                <div *ngIf="!inConfig">
                        <dx-circular-gauge #element id="gauge" [value]="currentValue" [subvalues]="[currentValue]">
                                <dxo-subvalue-indicator type="textcloud">
                                        <dxo-text [customizeText]="customizeText">
                                                <dxo-format type="" [precision]="1"></dxo-format>
                                        </dxo-text>
                                </dxo-subvalue-indicator>
                                <dxo-scale [startValue]="minValue" [endValue]="maxValue" [tickInterval]="5">
                                        <dxo-label [customizeText]="customizeText"></dxo-label>
                                </dxo-scale>
                                <dxo-export [enabled]="true"></dxo-export>
                                <dxo-title [text]="titleNew">
                                        <dxo-font [size]="22"></dxo-font>
                                </dxo-title>
                        </dx-circular-gauge>
                </div>
        
                <app-dynamic-form *ngIf="inConfig" [propertyPages]="propertyPages" [instanceId]="instanceId" (updatePropertiesEvent)="updateProperties($event)">
        
                </app-dynamic-form>
        
                <app-error-handler [errorObject]="errorObject" [errorExists]="errorExists">
                </app-error-handler>
        
        
        
        
        
        </div>