<div class="ui modal" #addTemplateModal>
    <div class="header">{{modalTitle}}</div>
    <div class="scrolling content">
        <form class="ui form">
            <div class="ui centered grid">
                <div class="six wide tablet eight wide computer column">
                    <div class="twelve wide field">
                            <label>Name</label>
                        <input type="text" [(ngModel)]="name" [formControl]="nameFormControl">
                        <div class="ui basic red pointing prompt label transition visible" *ngIf="nameFormControl.hasError('required')">Name
                            <strong>required</strong>
                        </div>
                    </div>
                    <div class="twelve wide field">
                            <label>Surname</label>
                        <input type="text" [(ngModel)]="surname" [formControl]="surnameFormControl">
                        <div class="ui basic red pointing prompt label transition visible" *ngIf="surnameFormControl.hasError('required')">Surname
                            <strong>required</strong>
                        </div>
                    </div>
                    <div class="twelve wide field">
                            <label>Username</label>
                        <input type="text" [(ngModel)]="username" [formControl]="usernameFormControl">
                        <div class="ui basic red pointing prompt label transition visible" *ngIf="usernameFormControl.hasError('required')">Username
                            <strong>required</strong>
                        </div>
                    </div>
                    <div class="twelve wide field">
                            <label>Email</label>
                        <input type="email" [(ngModel)]="email" [formControl]="emailFormControl">
                        <div class="ui basic red pointing prompt label transition visible" *ngIf="emailFormControl.hasError('required')">Email
                            <strong>required</strong>
                        </div>
                    </div>
                    <div class="twelve wide field">
                            <label>Date of birth</label>
                        <input type="date" [(ngModel)]="date_of_birth" [formControl]="birthFormControl">

                    </div>
                </div>

                <div class="six wide tablet eight wide computer column">
                    <div class="twelve wide field">
                            <label>Select a gender</label>
                        <select [(value)]="genderSelected" [formControl]="genderFormControl">                           
                            <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
                        </select>
                    </div>
                    <div class="twelve wide field">
                            <label>Select a role</label>
                        <select [formControl]="roleFormControl" [(value)]="roleSelected">                            
                            <option *ngFor="let role of roles" [value]="role">{{ role.name }}</option>
                            <div class="ui basic red pointing prompt label transition visible" *ngIf="roleFormControl.hasError('required')">Role
                                <strong>required</strong>
                            </div>
                        </select>
                    </div>
                    <div class="twelve wide field">
                            <label>Select an assets</label>
                        <select class="ui fluid search dropdown1" multiple="" [formControl]="assetFormControl" [(value)]="assetSelected">                           
                            <option *ngFor="let asset of assets" [value]="asset">{{ asset.name }}</option>
                        </select>
                    </div>
                    <div class="twelve wide field">
                        <input type="password" placeholder="Password" [(ngModel)]="password" [formControl]="passwordFormControl">
                        <div class="ui basic red pointing prompt label transition visible" *ngIf="passwordFormControl.hasError('required')">Password
                            <strong>required</strong>
                        </div>
                    </div>
                    <div class="twelve wide field">
                        <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" [formControl]="confirmPasswordFormControl">
                        <div class="ui basic red pointing prompt label transition visible" *ngIf="confirmPasswordFormControl.hasError('required')">Confirm Password
                            <strong>required</strong>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui two column centered grid">
            <div class="four column centered row">
                <div class="column">
                    <button mat-raised-button color="primary" (click)="sendTemplate()">Save</button>
                </div>
                <div class="column">
                    <button mat-raised-button color="warn" (click)="hideModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>