<div class="ui modal" #addUserModal>
    <div class="header">{{modalTitle}}</div>
    <div class="scrolling content">
        <div class="ui grid">

            <!-- col1-->
            <div class="eight wide column">
                <mat-card class="result">
                    <mat-card-content>
                        <div class="field">
                            <mat-form-field style="width: 100%">
                                <input matInput type="text" placeholder="Name" [(ngModel)]="name" [formControl]="nameFormControl" />
                                <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="nameFormControl.hasError('required')">
                                    Name
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field style="width: 100%">
                                <input matInput type="text" placeholder="Surname" [(ngModel)]="surname" [formControl]="surnameFormControl" />
                                <button mat-button *ngIf="surname" matSuffix mat-icon-button aria-label="Clear" (click)="surname=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="surnameFormControl.hasError('required')">
                                    Surname
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field style="width: 100%">
                                <input matInput type="text" placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl" />
                                <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field style="width: 100%">
                                <input matInput type="text" placeholder="Username" [(ngModel)]="username" [formControl]="usernameFormControl" />
                                <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="usernameFormControl.hasError('required')">
                                    Username
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field style="width: 100%">
                                    <mat-select placeholder="Select a gender" [(value)]="genderSelected" [formControl]="genderFormControl">
                                        <mat-option *ngFor="let gender of genders" [value]="gender">
                                            {{ gender }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="genderFormControl.hasError('required')">
                                        Gender
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>                            

                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="eight wide column">
                <mat-card class="result">
                    <mat-card-content>
                        <mat-form-field style="width: 100%">
                            <mat-select placeholder="Select a role" [formControl]="roleFormControl" [(ngModel)]="roleSelected" [compareWith]="compareFn">
                                <mat-option *ngFor="let role of roles" [value]="role">
                                    {{ role.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="roleFormControl.hasError('required')">
                                Role
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field style="width: 100%">
                            <mat-select placeholder="Select an asset" [formControl]="assetFormControl" [(ngModel)]="assetSelected" multiple [compareWith]="compareFn">
                                <mat-option *ngFor="let asset of assets" [value]="asset">
                                    {{ asset.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="assetFormControl.hasError('required')">
                                Asset
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                       

                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="dateOfBirth" placeholder="Birth date" [(ngModel)]="date_of_birth" [formControl]="birthFormControl">
                            <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                            <mat-datepicker #dateOfBirth></mat-datepicker>
                            <mat-error *ngIf="birthFormControl.hasError('required')">
                                Birth date
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field style="width: 100%">
                                <input matInput type="password" placeholder="Password" [(ngModel)]="password" />
                                <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <!-- <mat-error *ngIf="passwordFormControl.hasError('required')">
                                    Password
                                    <strong>required</strong>
                                </mat-error> -->
                            </mat-form-field>

                            <mat-form-field style="width: 100%">
                                <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword"
                                />
                                <button mat-button *ngIf="confirmPassword" matSuffix mat-icon-button aria-label="Clear" (click)="confirmPassword=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <!-- <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                                    Confirm Password
                                    <strong>required</strong>
                                </mat-error> -->
                            </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui two column centered grid">
            <div class="four column centered row">
                <div class="column">
                    <button mat-raised-button color="primary" (click)="sendUser()">Save</button>
                </div>
                <div class="column">
                    <button mat-raised-button color="warn" (click)="hideModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>