    <div class="ui center aligned segment gadget" dnd-draggable
     [dragEnabled]="!inConfig" [dragData]="instanceId" [dropZones]="['c0','c1','c2','c3','r0','r1']">

    <app-gadget-header (mouseover)="showGadgetControls(true)"
                       (mouseleave)="showGadgetControls(true)"
            [title]="title"
            [inRun]="inRun"
            [inConfig]="inConfig"
            [actionInitiated]="actionInitiated"
            [showOperationControls]="false"
            [gadgetHasOperationControls]="false"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            (toggleConfigModeEvent)="toggleConfigMode()"
            (removeEvent)="remove()" >
    </app-gadget-header>

    <div *ngIf="!inConfig">
        <div id="chart-demo">
            <dx-chart
                [dataSource]="coordinates"
                [useAggregation]="true"
                [redrawOnResize]="true">
                <dxi-series>
                    <dxo-point [size]="7"></dxo-point>
                </dxi-series>
                <dxo-argument-axis [valueMarginsEnabled]="false">
                </dxo-argument-axis>
                <dxi-value-axis>
                    <dxo-label>
                        <dxo-format type="fixedPoint"></dxo-format>
                    </dxo-label>
                </dxi-value-axis>
                <dxo-title [text]="textNew | uppercase">
                    <dxo-font [size]="22"></dxo-font>
                </dxo-title>
                <dxo-legend [visible]="false"></dxo-legend>  
                <dxo-size [height]="320"></dxo-size>
                <dxo-adaptive-layout [width]="450"></dxo-adaptive-layout>  
                <dxo-tooltip
                    [enabled]="true"
                    [customizeTooltip]="customizeTooltip">
                </dxo-tooltip>     
            </dx-chart>
            <dx-range-selector
                id="range-selector"
                [dataSource]="coordinates"
                (onValueChanged)="valueChanged($event)">
                <dxo-size [height]="120"></dxo-size>
                <dxo-scale [minRange]="1"></dxo-scale>
                <dxo-slider-marker>
                    <dxo-format
                        type="decimal"
                        [precision]="0">
                    </dxo-format>
                </dxo-slider-marker>
                <dxo-behavior
                    callValueChanged="onMoving"
                    [snapToTicks]="false">
                </dxo-behavior>
                <dxo-chart [useAggregation]="true">
                    <dxi-series></dxi-series>
                </dxo-chart>
                <hr>
            </dx-range-selector>
        </div>
    </div>

    <app-dynamic-form *ngIf="inConfig"
                  [propertyPages]="propertyPages"
                  [instanceId]="instanceId"
                  (updatePropertiesEvent)="updateProperties($event)">
    </app-dynamic-form>

    <app-error-handler
            [errorObject]="errorObject"
            [errorExists]="errorExists">
    </app-error-handler>

    <app-vis-drill-down-modal #drillDownPopUp></app-vis-drill-down-modal>

    <app-help-modal #helpModal></app-help-modal>

    <div class="ui bottom attached" *ngIf="actionInitiated">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>


</div>


