@import '../../../@theme/styles/themes';
@include nb-install-component() {
  // nb-card-body {
  //   padding: 0;
  // }
  /deep/ .leaflet-container {
    width: 100%;
    height: nb-theme(card-height-large);
  }

  /deep/ ul.leaflet-control-toolbar.leaflet-toolbar-0.toolbar {
    padding-left: 0 !important;
  }

  /deep/ .leaflet-popup-content {
    margin: 13px 19px !important;
    line-height: 1.4;
    text-align: center;
  }

  /deep/ .leaflet-popup-tip-container {
    margin-left: -20px !important;
  }

  /deep/ .leaflet-control {
    margin-left: 10px !important;
  }
}
