<nb-card>
    <nb-card-header>
      
      <div class="ui grid">
          <div class="ten wide column">
              Roles
          </div>         
          <div class="six wide column custom-btn">
                <a class="item" (click)="addRoleModal.showModal()">
                    <button mat-raised-button color="primary">Add Roles</button>
                </a>
            </div>
      </div> 
    </nb-card-header>
    <nb-card-body> 

  
      <ng2-smart-table 
                [settings]="settings" 
                [source]="source" 
                (deleteConfirm)="onDeleteConfirm($event)" 
                (edit)="addRoleModal.showModal($event.data)"
                (delete)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  
  <!-- the modal will emit an event and call the grid component to add the requested cell to the board -->
  <app-add-roles #addRoleModal (onHidden)="onModalHidden($event)">
  </app-add-roles>
   