<nb-card>
    <nb-card-header>
        <div class="ui grid">
            <div class="ten wide column">
                Devices
            </div>
            <div class="six wide column custom-btn">
                <a class="item" (click)="addDeviceModal.showModal(null)">
                    <button mat-raised-button color="primary">Add Device</button>
                </a>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <app-devices-filter style="padding: 10px" title="devices" [showEntityName]="true" [filtersApplied]="getActiveFilters()" (onApplyFilters)="onApplyFilters($event)"
            (onResetFilters)="onResetFilters()">
        </app-devices-filter>

        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (edit)="editDeviceModal.showModal($event.data)"
            (delete)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>

<!-- the modal will emit an event and call the grid component to add the requested cell to the board -->
<app-add-devices #addDeviceModal (onHidden)="onModalHidden($event)">
</app-add-devices>

<app-edit-devices #editDeviceModal (onHidden)="onModalHidden($event)">
</app-edit-devices>

<app-send-command #sendCommandModal (onHidden)="onModalHidden($event)">
</app-send-command>