<nb-card>
    <nb-card-header>
      <div class="ui grid">
          <div class="thirteen wide column">
              About
          </div>
      </div> 
    </nb-card-header>
    <nb-card-body>
      <div class="custom-title">
        <p><strong>FIWOO</strong> is an open source internet of everything smart city platform being developed by the four Spanish companies Bosonit, Emergya, JIG and Secmotic as a response of the open call made by the SELECT for Cities pre-commercial procurement project.
        You can see below the list of technologies used to develop <strong>FIWOO</strong> and their corresponding licenses.</p>
        <h3>You can filter the results filling the <strong>'Name'</strong> or <strong>'License'</strong> fields.</h3>
      </div>
      <ng2-smart-table 
                [settings]="settings" 
                [source]="source">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>