<div class="ui small modal models" #basicStatementModal>
  <div class="header"> {{modalTitle}}</div>
  <div class="scrolling content">
    <mat-card class="result">
      <mat-card-content>
        <mat-form-field style="width: 100%">
          <input matInput type="text" placeholder="Name of the statement" [(ngModel)]="name" [formControl]="nameFormControl" />
          <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="example-full-width" style="width:100%">
          <textarea matInput placeholder="Description" rows="6" [(ngModel)]="description" [formControl]="descriptionFormControl" ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select device" [(value)]="deviceSelected" [formControl]="deviceFormControl">
            <mat-option *ngFor="let device of devices" [value]="device">
              {{ device }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <br>

    <mat-card class="result">
      <mat-card-content>
        <p>CONDITION</p>
        <div class="add-condition">
          <a mat-mini-fab routerLink="." color='primary' (click)="onConditionCreated($event)">
            <mat-icon>add</mat-icon>
          </a>
        </div>
        <div class="ui grid">

          <div class="four wide column">
            <div class="field"> 
              <mat-form-field style="width: 100%">
                <input matInput type="text" placeholder="condition" [(ngModel)]="condition" [formControl]="conditionFormControl"
                />
                <button mat-button *ngIf="condition" matSuffix mat-icon-button aria-label="Clear" (click)="condition=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="four wide column">
            <mat-form-field style="width: 100%">
              <mat-select placeholder="value1" [(value)]="firstSelected" [formControl]="firstFormControl">
                <mat-option *ngFor="let first of firsts" [value]="first">
                  {{ first }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="four wide column">
            <mat-form-field style="width: 100%">
              <mat-select placeholder="filter" [(value)]="filterSelected" [formControl]="filterFormControl">
                <mat-option *ngFor="let filter of filters" [value]="filter">
                  {{ filter }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="four wide column">
            <div class="field">
              <mat-form-field style="width: 100%">
                <input matInput type="text" placeholder="value2" [(ngModel)]="second" [formControl]="secondFormControl" />
                <button mat-button *ngIf="second" matSuffix mat-icon-button aria-label="Clear" (click)="second=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>

          </div>
        </div>


        <mat-divider style="margin-top: 20px;"></mat-divider>
         <mat-list role="list">
                <div *ngFor="let createdCondition of createdConditions">                 
                    
                  <div class="ui grid">
                        <!-- col1-->
                        <div class="four wide column">
                            <div class="field">
                                <mat-form-field style="width: 100%"> 
                                    <input matInput type="text" placeholder="condition" value="{{createdCondition.condition}}" disabled/>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="four wide column">
                            <div class="field">
                                <mat-form-field style="width: 100%">
                                    <input matInput type="text" placeholder="value1" value="{{createdCondition.first}}" disabled/>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <!-- col2-->
                        <div class="four wide column">
                            <mat-form-field style="width: 100%">
                                <input matInput type="text" placeholder="filter" value="{{createdCondition.filter}}" disabled/>
                            </mat-form-field>
                        </div>
                        
                        <!-- col3-->
                        <div class="four wide column">
                            <div class="field">
                                <mat-form-field style="width: 60%; float:left;">
                                        <input matInput type="text" placeholder="value2" value="{{createdCondition.second}}" disabled/>
                                </mat-form-field>   
                            </div>

                            <button mat-icon-button (click)="removeCreatedCondition(createdCondition)" style="width: 35%; padding: 10px;">
                                <mat-icon aria-label="Remove">close</mat-icon>
                            </button>
                        </div>

                        <!-- col4-->
                        <!-- <div style="width: 35%">
                            <button mat-icon-button (click)="removeCreatedCondition(createdCondition)">
                                <mat-icon aria-label="Remove">close</mat-icon>
                            </button>
                        </div> -->
                    </div>
                    
                </div>                
            </mat-list>
        



        <br>
        <!-- <div class="ui two column centered grid">
          <div class="column centered-btn">
            <button mat-raised-button color="primary" (click)="addCondition()">ADD CONDITION</button>
          </div>
        </div> -->
      </mat-card-content>
    </mat-card>



    <br>
    <mat-card class="result">
      <mat-card-content>
        <p>ACTIONS TO DO</p>
        <table class="ui very basic table">
          <tbody>
            <tr>
              <td>
                <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                </mat-slide-toggle>
              </td>
              <td>Update an entity's attribute</td>
              <td>
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Update an entity's attribute" [(ngModel)]="attribute" [formControl]="attributeFormControl" />
                  <button mat-button *ngIf="attribute" matSuffix mat-icon-button aria-label="Clear" (click)="attribute=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                </mat-slide-toggle>
              </td>
              <td>Send a SMS</td>
              <td>
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Send a SMS" [(ngModel)]="sms" [formControl]="smsFormControl" />
                  <button mat-button *ngIf="sms" matSuffix mat-icon-button aria-label="Clear" (click)="sms=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                </mat-slide-toggle>
              </td>
              <td>Send an email</td>
              <td>
                <mat-form-field style="width: 100%">
                  <input matInput type="email" placeholder="Send an email" [(ngModel)]="email" [formControl]="emailFormControl" />
                  <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled" >
                </mat-slide-toggle>
              </td>
              <td>Make an HTTP POST</td>
              <td>
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Make an HTTP POST" [(ngModel)]="makepost" [formControl]="makepostFormControl" />
                  <button mat-button *ngIf="makepost" matSuffix mat-icon-button aria-label="Clear" (click)="makepost=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled" (click)="toggleTwitter()">
                </mat-slide-toggle>
              </td>
              <td>Send a Twitter</td>
              <td>
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Send a Twitter" [(ngModel)]="twitter" [formControl]="twitterFormControl" />
                  <button mat-button *ngIf="twitter" matSuffix mat-icon-button aria-label="Clear" (click)="twitter=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>






  </div>

  <div class="actions">
    <div class="ui two column centered grid">
      <div class="four column centered row">
        <div class="column centered-btn">
          <button mat-raised-button color="warn" (click)="hideModal()">Cancel</button>
        </div>
        <div class="column centered-btn">
          <button mat-raised-button color="primary" (click)="sendStatement()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>