<nb-card>
    <nb-card-header>
      
      <div class="ui grid">
          <div class="thirteen wide column">
              Assets        
          </div>          
          
          <div class="three wide column">
              <a class="item" (click)="addAssetsModal.showModal()">
                  <button mat-raised-button color="primary">Add Assets</button>
              </a>
          </div>

          <div class="thirteen wide colum asset-desc">
                <p>An asset is a group of users with which resources are shared. Assets can have children (subgroups) and/or parents (supergroups) to easily allow or restrict access.<br>
                    For example, Neighborhood1 can include all the users who live in a certain area and be parent of Street1 and child of City1.                
                  </p>
        </div>
      </div> 
    </nb-card-header>
    <nb-card-body> 

  
      <ng2-smart-table 
                [settings]="settings" 
                [source]="source" 
                (deleteConfirm)="onDeleteConfirm($event)" 
                (edit)="addAssetsModal.showModal($event.data)"
                (delete)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  
  <!-- the modal will emit an event and call the grid component to add the requested cell to the board -->
  <app-add-assets #addAssetsModal (onHidden)="onModalHidden($event)">
  </app-add-assets>
   