.ui.info.message {
    background: #fff;
    color: #3399ff;
    border: 2px dotted #3399ff;
    box-shadow: none;
    border-radius: 0;
}


.short-row{
    min-height:150px;
}

.tall-row{
    min-height:370px;
}

