// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
// @import '~@nebular/auth/styles/all';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  //@include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
};


.nb-theme-default .menu-item > .menu-items > .menu-item a.active{
  border-color: #4983FF !important;
}

.nb-theme-default .compacted .menu-item a.active::before,
.nb-theme-default nav.ng2-smart-pagination-nav .pagination li.active > span {
  background: #4983FF !important;
}

.nb-theme-default a:hover,  .nb-theme-default a:active, .nb-theme-default a:focus {
  color: #ccc !important;
}

// .nb-theme-default a {
//   color: #fff !important;
//   text-decoration: underline;
// }

.nb-theme-default nb-user .user-context-menu, .nb-theme-default .form-control:focus {
  border: 2px solid #4983FF !important;
}

.nb-theme-default nb-user .user-context-menu ul > li.arrow {
  border-bottom: 11px solid #4983FF !important;
}

.nb-theme-default nb-user .user-context-menu ul > li > a:focus, .nb-theme-default nb-user .user-context-menu ul > li > a:active, .nb-theme-default nb-user .user-context-menu ul > li > a:hover {  
  background: #4983FF !important;  
}


.ui.button, .ui.button:hover {
  background: none !important;
}