<div class="ui small modal" #addTemplateModal>
    <div class="header"> {{modalTitle}}</div>
    <div class="scrolling content">
        <div class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Name</label>
                    <input type="text" [(ngModel)]="name" [formControl]="nameFormControl">
                    <div class="ui basic red pointing prompt label transition visible" *ngIf="nameFormControl.hasError('required')">Name
                        <strong>required</strong>
                    </div>
                </div>
                <div class="field">
                    <label>Description</label>
                    <input type="text" [(ngModel)]="description" [formControl]="descriptionFormControl">
                </div>
            </div>
            <div class="field">
                <label>Select resources</label>
                <select class="ui fluid search dropdown1" multiple="" [formControl]="resourceFormControl" [(value)]="resourceSelected">
                    <option *ngFor="let resource of resources" [value]="resource">{{ resource.name }}</option>
                </select>
            </div>
        </div>
        <div class="actions">
            <div class="ui two column centered grid">

                <div class="four column centered row">
                    <div class="column">
                        <button mat-raised-button color="warn" (click)="hideModal()">Cancel</button>
                    </div>
                    <div class="column">
                        <button mat-raised-button color="primary" (click)="sendTemplate()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>