<div class="ui small modal models" #testModelModal>
  <div class="header"> {{modalTitle}}</div>
  <div class="scrolling content">
    <mat-card class="result">
      <mat-card-content>
        <div class="ui two column centered grid" style="margin-top: 20px">

          <p>Choose model to test</p>
          <div class="column">
            <mat-form-field style="width: 100% !important">
              <mat-select placeholder="Model Type" [compareWith]="compareFn" [formControl]="resourceFormControl" [(ngModel)]="resourceSelected"
                multiple>
                <mat-option *ngFor="let resource of resources" [value]="resource">
                  {{ resource.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="ui two column centered grid" style="margin-top: 20px">
          <p>Parameters</p>
          <div class="four column centered row">
            <div class="column">
              <mat-form-field style="width:100%">
                <input matInput placeholder="" value="user">
              </mat-form-field>
            </div>
            :
            <div class="column">
              <mat-form-field style="width:100%">
                <input matInput placeholder="" value="user1">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="ui two column centered grid">
          <div class="column centered-btn">
            <button mat-raised-button color="primary" (click)="runModel()">Run</button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <br>
    <mat-card class="result">
      <mat-card-content>
        <div style="margin-top: 20px">
          <p>Output of model</p>
          <mat-form-field class="example-full-width" style="width:100%">
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>

  </div>

  <div class="actions">
    <div class="ui two column centered grid">
      <div class="four column centered row">
        <div class="column centered-btn">
          <button mat-raised-button color="warn" (click)="hideModal()">Cancel</button>
        </div>
        <div class="column centered-btn">
          <button mat-raised-button color="primary" (click)="sendModel()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>