<div class="ui small modal models" #testModelModal>
  <div class="header"> {{modalTitle}}</div>
  <div class="scrolling content">
    <mat-card class="result">
      <mat-card-content>
        <div class="ui two column centered grid" style="margin-top: 20px">

          <p>Choose model to test</p>
          <div class="column">
            <mat-form-field style="width: 100% !important">
              <mat-select placeholder="Choose Model" [(value)]="modelSelected" [formControl]="modelFormControl">
                <mat-option *ngFor="let model of models" [value]="model">
                  {{ model }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="ui two column centered grid" style="margin-top: 20px">
          <p>Parameters</p>
          <div class="two column centered row">
            <div *ngFor="let parameter of parameters">              
              <div class="column" style="width: 50%; float:left;">
                <mat-form-field>
                  <input matInput type="text" placeholder="key" value="{{parameter.key}}" disabled/>
                </mat-form-field>
              </div>           
              <div class="column" style="width: 50%; float:left;">
                <mat-form-field >
                  <input matInput type="text" placeholder="value" value="{{parameter.value}}" disabled/>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="ui two column centered grid">
          <div class="column centered-btn">
            <button mat-raised-button color="primary" (click)="runModel()">Run</button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <br>
    <mat-card class="result">
      <mat-card-content>
        <div style="margin-top: 20px">
          <p>Output of model</p>
          <mat-form-field class="example-full-width" style="width:100%">
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>

  </div>

  <div class="actions">
    <div class="ui two column centered grid">
      <div class="four column centered row">
        <div class="column centered-btn">
          <button mat-raised-button color="warn" (click)="hideModal()">Cancel</button>
        </div>
        <div class="column centered-btn">
          <button mat-raised-button color="primary" (click)="sendModel()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>