.expert-mode {
    background: url(/assets/images/expert_mode.png) no-repeat;
    width: 100%;
    height: 100px;
    background-position: center top;
}

.basic-mode {
    background: url(/assets/images/basic_mode.png) no-repeat;
    width: 100%;
    height: 100px;
    background-position: center top;
}

.cstm {
    width: 50% !important;
}